{% comment %}
The login page template. This is located at /registration/login.html in order
to use the built-in Django login view.
{% endcomment %}

<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
      body {
        margin-top: 96px;
      }
      .content-section {
        margin-top: 64px;
        padding-top: 24px;
      }
      .content-section > img {
        height: 60px;
        width: 282px;
        display: inline;
      }
      .content-section > h1 {
        margin-top: 12px;
        margin-bottom: 24px;
      }
      label {
        font-weight: 400
      }
      .help-icon {
        color: #b6b6b6
      }
    </style>

    <title>Latest power log</title>
  </head>

  <body>

    <div class="container">
      <div class="row">
        <div class="col-md-3 col-lg-4"></div>
        <div class="col-md-6 col-lg-4 content-section">

          <h2>Verne Power Monitor</h2>

          {% if form.errors %}
            <h3 class="text-error">
              Your username and password didn't match. Please try again.
            </h3>
          {% endif %}

          <form method="post" action="">
            {% csrf_token %}

            <div class="form-group">
              <label for="username">
                Username:
              </label>
              <input type="text" name="username"
                     required autofocus
                     class="form-control">
            </div>

            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" name="password"
                     required
                     class="form-control">
            </div>

            <div class="form-group text-right">
              <button type="submit" class="btn btn-primary">Log In</button>
            </div>
          </form>
        </div>
        <div class="col-md-3 col-lg-4"></div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>