{% extends "base.html" %}

{% block style %}
<style>
  td.unknown-value {
    color: #777777;
  }
  td.button-col {
    padding: .25rem;
    text-align: right;
  }
</style>
{% endblock %}

{% block contents %}

  <div class="row">
    <div class="col">
      <h1>Sensors</h1>
    </div>
    <div class="col" style="text-align:right">
      <a href="/sensors/register/" class="btn btn-primary">
        Register new
      </a>
    </div>
  </div>

  <br>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        {# "Created at" is hidden on SM and XS screens #}
        <th class="d-none d-md-table-cell">Created at</th>
        <th>Latest SSID</th>
        <th>Latest IP</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for sensor in sensors %}
        <tr>
          <td>{{ sensor.name }}</td>
          <td class="d-none d-md-table-cell">{{ sensor.created_at }} UTC</td>
          {% if sensor.latest_network_ssid %}
            <td>{{ sensor.latest_network_ssid }}</td>
          {% else %}
            <td class="unknown-value">Unknown</td>
          {% endif %}
          {% if sensor.latest_network_local_ip %}
            <td>{{ sensor.latest_network_local_ip }}</td>
          {% else %}
            <td class="unknown-value">Unknown</td>
          {% endif %}
          <td class="button-col"><a href="/sensors/edit/{{ sensor.id }}/" class="btn btn-primary">Edit</a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5" class="d-none d-md-table-cell">No sensors</td>
          <td colspan="4" class="d-table-cell d-md-none">No sensors</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
