{% extends "base.html" %}

{% block contents %}

  <h1>Recent power logs</h1>

  <br>

  <table class="table">
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>Sensor</th>
        <th>Network</th>
        <th>IP</th>
      </tr>
    </thead>
    <tbody>
      {% for power_log in recent_power_logs %}
        <tr>
          <td>{{ power_log.timestamp }} UTC</td>
          <td>{{ power_log.sensor.name }}</td>
          <td>{{ power_log.network_ssid }}</td>
          <td>{{ power_log.network_local_ip }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No logs</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
